    <div data-container="true" id="starter">
        <div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-487708">
            <div class="form-group">
                <label for="exampleInputEmail1">CEP</label>
                <input type="text"  name="zipcode" ng-model="address.zipcode" via-cep="cep" class="form-control" id="textinput-id" placeholder="Placeholder text">
            </div>
        </div>
    </div>


    <div data-container="true" id="starter">
        <div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-487708">
            <div class="form-group">
                <label for="exampleInputEmail1">Logradouro</label>
                <input type="text" name="street" ng-model="address.street" via-cep="logradouro" disabled class="form-control" id="textinput-id" placeholder="Placeholder text">
            </div>
        </div>
    </div>


    <div data-container="true" id="starter">
        <div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-487708">
            <div class="form-group">
                <label for="exampleInputEmail1">Bairro</label>
                <input type="text" name="neighborhood" ng-model="address.neighborhood" via-cep="bairro" disabled class="form-control" id="textinput-id" placeholder="Placeholder text">
            </div>
        </div>
    </div>


    <div data-container="true" id="starter">
        <div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-487708">
            <div class="form-group">
                <label for="exampleInputEmail1">UF</label>
                <input type="text" name="uf" ng-model="address.uf" via-cep="uf" disabled class="form-control" id="textinput-id" placeholder="Placeholder text">
            </div>
        </div>
    </div>


    <div data-container="true" id="starter">
        <div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-487708">
            <div class="form-group">
                <label for="exampleInputEmail1">Cidade</label>
                <input type="text" name="city" ng-model="address.city" via-cep="localidade" disabled class="form-control" id="textinput-id" placeholder="Placeholder text">
            </div>
        </div>
    </div>


    <div data-container="true" id="starter">
        <div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-487708">
            <div class="form-group">
                <label for="exampleInputEmail1">Unidade</label>
                <input type="text" name="unit" ng-model="address.unit" via-cep="unidade" disabled class="form-control" id="textinput-id" placeholder="Placeholder text">
            </div>
        </div>
    </div>